# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# R / RStudio
# ----------------------
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# ----------------------
# Data (raw / large files)
# ----------------------
01_data/raw/
01_data/seer/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db
